h1, h2, h3, h4 {
    text-align: center;
}

.about-text, .col {
    text-align: center;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption > h5 {
    font-size: 5vw;
}

.carousel-caption > p {
    font-size: 3vw;
}

.nav-link {
    color: black;
}


