h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.about-text, .col, .photo {
    text-align: center;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption > h5 {
    font-size: 5vw;
}

.carousel-caption > p {
    font-size: 3vw;
}

.nav-link {
    color: black;
}

#about-us {
    padding-left: 20%;
    padding-right: 20%;
}

#pillars, #values {
    background: rgba(250, 223, 70, 0.3);
    margin: 5%;
    padding: 40px;
}

#purpose {
    padding-top: 50px;
}

.photo {
    padding-top: 50px;
}